@using LNCLibrary.Models;
@model List<CartItems>
<div>
    @foreach(var item in Model)
    {
        
    <div style="display:inline">
        <img style="width: 10%; height:10%;" src="~/ProductPictures/@item.itempicture" />
    </div>

    }
</div>