.LVNColorCart {
    background: #1565C0;
    position: fixed;
    width: 35%;
    height:10%;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    border: 2px outset black;
}

.LVNColorCart:after {
    content: '';
    display: block;
    padding-bottom:100%;
}

.cartTopLevelLayout {
    position: absolute;
    width: 100%;
    height: auto;
    margin:0 auto;
    display: inline-block;
    z-index: 1;
}
.PriceLocation {
    float: left;
    width: 50%;
}

.LocationOfBottomButton{
    float:right;
    width: 50%;
}

#Price {
    font-size: 50px;
    font-weight: bold;
    font-family: Cagliostro;
    color:#ffffff;
    position:center;
    width: 30%;
}

.DetailsButton{
    border:none;
    background-color:yellow;
    font-weight:bold;
    margin:1em;
    padding: 11px;
    border-radius:100%;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}